/admin-service/target/*
/admin-service/target/
/hrm-service/target/*
/hrm-service/target/
/core-service/target/*
/core-service/target/
/library-service/target/*
/library-service/target/
/kpi-service/target/*
/kpi-service/target/
/abs-service/target/*
/abs-service/target/
/file-storage-service/target/*
/file-storage-service/target/
/crm-service/target/*
/crm-service/target/
/med-service/target/*
/med-service/target/
/pit-service/target/*
/pit-service/target/
/icn-service/target/*
/icn-service/target/
/pns-service/target/*
/pns-service/target/
/mat-service/target/*
/mat-service/target/
/ws-service/target/*
/ws-service/target/

/admin-service/target/classes/HrmServiceApplication.class
/admin-service/src/main/resources/WebContent/apidoc/
/hrm-service/target/classes/HrmServiceApplication.class
/hrm-service/src/main/resources/WebContent/apidoc/
/abs-service/target/classes/HrmServiceApplication.class
/abs-service/src/main/resources/WebContent/apidoc/
/library-service/target/classes/HrmServiceApplication.class
/library-service/src/main/resources/WebContent/apidoc/
/kpi-service/src/main/resources/WebContent/apidoc/
/crm-service/src/main/resources/WebContent/apidoc/
/med-service/src/main/resources/WebContent/apidoc/
/pit-service/src/main/resources/WebContent/apidoc/
*.class
/.idea/
/.idea/*
/hbtplus.iml
/core-service/core-service.iml
/admin-service/admin-service.iml
/hrm-service/hrm-service.iml
/library-service/hrm-service.iml
/kpi-service/kpi-service.iml
/abs-service/abs-service.iml
/crm-service/crm-service.iml
/med-service/med-service.iml
/pit-service/med-service.iml
/file-storage-service/hrm-service.iml
/logs/
/logs/*
spy.log
/file-storage-service/file-storage-service.iml
/library-service/library-service.iml
/kpi-service/target/kpi-service-1.0-SNAPSHOT.jar
/kpi-service/target/kpi-service-1.0-SNAPSHOT.jar.original
/abs-service/target/abs-service-1.0-SNAPSHOT.jar
/abs-service/target/abs-service-1.0-SNAPSHOT.jar.original
/med-service/target/med-service-1.0-SNAPSHOT.jar
/med-service/target/med-service-1.0-SNAPSHOT.jar.original
/pit-service/target/pit-service-1.0-SNAPSHOT.jar
/pit-service/target/pit-service-1.0-SNAPSHOT.jar.original
/lms-service/target/
/pit-service/target/
/ptx-service/target/
/exam-service/target/
/exam-service/target/*
/exam-service/target/classes/
